name: Docker Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE: library/gelato
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.HARBOR_URL }}
        username: ${{ secrets.HARBOR_USERNAME }}
        password: ${{ secrets.HARBOR_SECRET  }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ${{ secrets.HARBOR_URL }}/${{ env.IMAGE }}:${{ env.TAG }}
              
